.paged{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
}

.list{
    margin-top: 10px;
    margin-right: 5.7px;
    margin-left: 5.7px;
    list-style: none;
}

.btn{
    font-family: Bebas Neue;
    font-size: 25px;
    color: white;
    border: none;
    border-radius: 5px;
    background: linear-gradient(
    to right,
    var(--darkBlue) 0%,
    var(--midBlue) 70%
  );
    width: 32px;
    height: auto;
}

.btn:hover{
    background: linear-gradient(
    to right,
    var(--midBlue) 0%,
    var(--darkBlue) 70%
  );
  transform: scale(1.1)
}

.btn:active{
    transform: scale(1)
}